:root {
  font-size: 14px;

  /* 라이트모드 설정 */
  --background-base :  #fff;
  --tittle-color : #1f1f1f;
  --font-color : #3c4043;
  --input-background-color : #fff;
  --border-color :  1px solid #c5ccd2;
  --box-background :#f8f9fa;
} 

[data-theme="dark"]{
  --background-base :  #272829;
  --tittle-color : #e8e8e8;
  --font-color : #e8eaed;
  --input-background-color : #4d5156;
  --border-color :  1px solid transparent;
  --box-background : #272829;
}