:root {
  /* common-css */
  font-size: 14px;

  /* button */
  --button-border : 1px solid #1565C0;
  --button-background : #1565C0;
  --button-font-color : #fff;
  /* toggle button */
  --toggle-border-color: 1px solid #1f1f1f;

  /* light-mode */
  --background-base :  #fff;

  /* font */
  --tittle-color : #1f1f1f;
  --font-color : #465764;
  
  /* contents-box */
  --box-background :#f8f9fa;
  --contents-header : #F5F7F8;
  
  /* input */
  --input-background: #fff;
  --input-background-hover : #e0e4e8;
  --input-border-color :  1px solid  #5F6368;;

  /* check-box */

} 

[data-theme="dark"]{
  /* dark-mode */
  --background-base :  #1E1E20;

  /* toggle button */
  --toggle-border-color: 1px solid #e8e8e8;

  /* font */
  --tittle-color : #e8e8e8;
  --font-color : #e8eaed;
  
  /* contents-box */
  --box-background : #272829;
  --contents-header : #313233;
  
  /* input */
  --input-background : #4d5156;
  --input-background-hover : #5F6368;
  --input-border-color :  1px solid transparent;

  /* check-box */
}