.app-wrapper{
  width: 100vw;
  height: 100vh;
  align-content: center;
  background-color: var(--background-base);
}

/* .app-wrapper-light{
  background-color: var(--base-light);
}

.app-wrapper-dark{
  background-color: var(--base-dark);
} */
