.submit-button{
  width: 100%;
  height: 3rem;
  background-color: var(--button-background);
  border: var(--button-border);
  color : var(--button-font-color);
  border-radius: 4px;
}

.submit-button:hover{
  cursor: pointer;
  filter: brightness(1.2); /* 밝기를 20% 증가 */
}