.input-box{
  height: 40px;
  position: relative;
}

.input-label{
  height: 40px;
  position: absolute;
  left:10px;
  bottom: 0;
  font-size: 14px;
}

.input-text{
  height: 100%;
  background-color: var( --input-background);
  color: var(--font-color);
  border: var(--input-border-color);
}

.normal-text-input:hover{
  background-color: var(--input-background-hover);
}