.modal-base{
  /*full Screen*/
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--modal-background);
  z-index: 1;

  /* contents center flex*/
  display: flex;
  justify-content: center;
  align-items: center;

  font: var(--font-color);
}

.modal-contents{
  width : 40vw;
  height: 40vh;
  background-color: var(--box-background);
  border-radius: 4px;
}

.modal-body{
  height: 85%;
}

.modal-footer{
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:10px;
}